/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
}
/* Navbar */
.navbar {
  height: 12vh;
  background: #000000;
  display: grid;
  grid-template-columns: 1fr 0fr 5fr 1fr;

  align-items: center;
  padding: 0% 5%;
}

div.line {
  width: 20px;
  height: 60%;
  border-right: 2px solid #fff;
}

div.grow-list .list {
  display: flex;
  list-style: none;
}

div.grow-list .list li {
  margin: 0% 2%;
  color: #ffffff;
}

button.button-small {
  padding: 3% 10%;
  color: #fff;
  background: #bb0dc5;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

/* Hero Section */
div.hero {
  background: url(./assets/bg.png) no-repeat center center;
  background-size: cover;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

div.hero .hero-heading {
  font-size: 4rem;
  line-height: 4rem;
  width: 60%;
  text-align: center;
}

div.hero .hero-description {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.hero .button-large {
  padding: 10px 20px;
  font-size: 1.35rem;
  border-radius: 8px;
  border: none;
  background: #bb0dc5;
  color: #fff;
}
